<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AMP code test</title>
        <link type="text/css" rel="stylesheet" href="build/site.css"/>
    </head>
    <body ng-app="amp-test">
        <section class="container-fluid" ng-controller="searchController">
            <div class="form-group">
                <h1>People Search</h1>
                <input type="text" role="textbox" aria-controls="list" class="form-control" ng-model="searchText"
                       placeholder="enter your search term">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul id="list" role="group"
                        aria-live="polite"
                            >
                        <li ng-repeat="item in items | filter:{firstName:searchText}" class="col-md-3">
                            <div class="thumbnail">
                                <img src="{{item.picture}}" alt="{{item.firstName}}"/>

                                <div class="caption">
                                    <h3>{{item.firstName}}</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </body>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app/scripts/app.js"></script>
    <script src="app/scripts/controllers/searchController.js"></script>
    <script src="app/scripts/services/dataProvider.js"></script>
</html>